In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../data/movies_cleaned.csv')
display(df.head())

,userId,movieId,rating,timestamp,title,genres,year
0,1,2,3.5,2005-04-02 23:53:47,Jumanji,Adventure|Children|Fantasy,1995.0
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,1995.0
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys),Mystery|Sci-Fi|Thriller,1995.0
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en),Mystery|Thriller,1995.0
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The",Crime|Mystery|Thriller,1995.0

# Filtrado colaborativo usando la correlacion de pearson

In [3]:
user_movie_matrix = df.pivot_table(index='userId', columns='title', values='rating')

In [ ]:
# Suponiendo que ya tienes tu 'user_movie_matrix'
star_wars_ratings = user_movie_matrix['Star Wars (1977)']

# Método Pearson (El clásico)
sim_pearson = user_movie_matrix.corrwith(star_wars_ratings, method='pearson')

# Método Spearman (Tu propuesta estadística)
sim_spearman = user_movie_matrix.corrwith(star_wars_ratings, method='spearman')

# Comparar resultados
df_comp = pd.DataFrame({
    'Pearson': sim_pearson,
    'Spearman': sim_spearman
}).dropna()

display(df_comp.sort_values('Spearman', ascending=False).head(10))